doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= "Авторизация"
        link(rel="stylesheet"
        type="text/css"
             href="../css_files/index.css")
    body
        h1 Авторизация
        p#err *введите имя пользователя!
        form(action="us" autocomplete="off" method="POST")
          div.userholder
            img.userpic(src="../image_files/user.png")
            div.user_square
            input.usernameholder(
                    type= "text"
                    id = "username"
                    name= "admin"
                    placeholder= "Имя пользователя"
                )
          button.entry(type="submit" onclick="return correct();") Войти
        script(src="../script_files/index.js")

