


doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= "Библиотека"
        link(rel="stylesheet"
            href="/css_files/main.css")
    body

        h1 Домашняя библиотека
        p.curuser #{userfolder}
        img.userpic(src="../image_files/orange_user.png")
        div#filtlist.filt_types
            input.allbook(type="radio" name="filt" value="allbook" id="allbook" onchange="show_rows(this)")
            input.inlib(type="radio" name="filt" value="inlib" id="inlib" onchange="hide_rows(this)" )
            input.duty(type="radio" name="filt" value="duty" id= "duty" onchange="hide_rows(this)")
            label(for="allbook" class="label l-1") Все книги
            label(for="inlib" class="label l-2") В наличии
            label(for="duty" class="label l-3") Просрочена дата возврата
        input.filt(type="image" src= "../image_files/orange_filter.png" id="filtbut" onclick="filt()")
        script(src="../script_files/main.js")
        form(action="./add" method="GET")
          input.add(type="image" src= "../image_files/orange_add.png")
        form(action="/")
         button.exit Выход
           img.exitpic(src= "../image_files/orange_exit.png")
        div.scroll-table
          table(border= 1)
            thead
              tr.title_row
                th id
                th Название
                th Автор
                th
          div.scroll-table-body
            table(border=1)
              tbody
                for item in books
                  tr(id = item.id)
                    th #{item.id}
                    th
                      a(href = "book/" + item.id) #{item.title}
                    th #{item.author}
                    form(action="../book/del/" + item.id method="POST")
                      th
                        input._del(type="image" src= "../image_files/orange_delete.png" onclick= "return confirm('вы точно хотите удалить книгу?');")
